.MbField
	&__cols
		display: grid
		width: 400px
		height: 30px
		margin-left: 30px
		grid-template-columns: repeat(10, 1fr)

		&-item
			align-self: center
			justify-self: center

	&__rows
		display: inline-grid
		height: 400px
		width: 30px
		grid-template-rows: repeat(10, 1fr)
		vertical-align: top

		&-item
			align-self: center
			justify-self: center

	&__list
		display: inline-grid
		width: 400px
		height: 400px
		grid-template: repeat(10, 1fr)/repeat(10, 1fr)

	&__item
		background: #fff
		position: relative
		display: flex
		box-shadow: 0 0 0 1px #ccc

		&_open
			background: #ffdede

			&:after
				display: none

		&_open:not(&_ship)
			background: #fff

			&:after
				content: ''
				display: block
				height: 5px
				width: 5px
				background: #000
				border-radius: 50%
				margin: auto

	&__inputs
		margin-bottom: 20px

		input, label
			display: inline-block
			margin-right: 10px